/SQL_for_DA/lesson3/3.pptx
/SQL_for_DA/lesson3/3.pptx.pdf
/SQL_for_DA/lesson4/4.pptx
/SQL_for_DA/lesson4/4.pptx.pdf
/SQL_for_DA/lesson2/lesson2.ipynb
/SQL_for_DA/lesson4/lesson4.ipynb
/SQL_for_DA/lesson3/lesson_3.sql
/SQL_for_DA/lesson4/lesson_4.sql
/SQL_for_DA/lesson4/lesson_4_homework.sql
/SQL_for_DA/lesson5/5.pptx
/SQL_for_DA/lesson5/lesson_5.sql
/SQL_for_DA/lesson5/5.pdf
/SQL_for_DA/lesson7/7.pdf
/SQL_for_DA/lesson7/7.pptx
/SQL_for_DA/lesson7/demo .ipynb
/SQL_for_DA/lesson7/les_7_classwork.ipynb
/SQL_for_DA/lesson7/lesson_7.sql
/SQL_for_DA/lesson8/8.pdf
/SQL_for_DA/lesson8/8.pptx
/SQL_for_DA/lesson8/lesson_8.sql
/SQL_for_DA/lesson9/9.pdf
/SQL_for_DA/lesson9/9.pptx
/SQL_for_DA/lesson9/lesson_9.sql
/SQL_for_DA/lesson10/10.pdf
/SQL_for_DA/lesson10/10.pptx
/SQL_for_DA/lesson10/Задания SQL.docx
/final_task/demo hist.ipynb
